<!-- <?php
   if(isset($_FILES['image'])){
      $errors= array();
      $file_name = $_FILES['image']['name'];
      $file_size = $_FILES['image']['size'];
      $file_tmp = $_FILES['image']['tmp_name'];
      $file_type = $_FILES['image']['type'];
      $file_ext=strtolower(end(explode('.',$_FILES['image']['name'])));
      
      $extensions= array("jpeg","jpg","png");
      
      if(in_array($file_ext,$extensions)=== false){
         $errors[]="extension not allowed, please choose a JPEG or PNG file.";
      }
      
      if($file_size > 2097152) {
         $errors[]='File size must be excately 2 MB';
      }
      
      if(empty($errors)==true) {
         move_uploaded_file($file_tmp,"templates/".$file_name);
         echo "Success";
      }else{
         print_r($errors);
      }
   }
?> -->
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./static/home_css.css" />
</head>

<body class="landing" id="banner">
    <section id="one" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>Click on the Button Below to Upload the "Message" File</h2>
            </header>
        </div>
        <div class="container">
            <header class="major">
                <form action="/htmlUpload" method="post" enctype="multipart/form-data">
                    <input type="file" name="photo" class="button special big" /><BR>
                    <input type="submit" value="Upload" />
                </form>
        </div>
        </header>
        </div>
    </section>
</body>

</html>