<!DOCTYPE html>
<html>

<title>
	Home Page
</title>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="./static/home_css.css" />
</head>

<body class="landing">

	<header id="header" class="alt">
		<h1><strong><a href="index.html">Autorod</a></strong></h1>
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<section id="banner">
		<h2>Welcome</h2>
		<p>Click on the Button Below <br /> to Start Automating.</p>
		<ul class="actions">
			<form action="/upload" method="POST">
				<li><input type="submit" class="button special big" value="Automate"></input></li>
			</form>
		</ul>
	</section>

	<section id="one" class="wrapper style1">
		<div class="container 75%">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Reduce the stress of manually sending emails</h2>
						<p>Look at the tutorial below to know how</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio
						sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias
						quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
					<p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum
						enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam
						exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
				</div>
			</div>
		</div>
	</section>


</body>

</html>