<!DOCTYPE HTML>
<html>

<head>
	<title>AutoRod</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="./static/main.css" />
</head>

<body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><strong><a href="index.html">Autorod</a></strong></h1>
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="new_signup_page.html">Sign Up</a></li>
				<li><a href="new_login.html">Sign In</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<h2>AutoRod</h2>
		<p>Automation has never been <br /> So Easy.</p>
		<ul class="actions">
			<li><a href="#" class="button special big">Get Started</a></li>
		</ul>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<div class="container 75%">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Maecenas luctus lectus</h2>
						<p>Perspiciatis doloremque recusandae dolor</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio
						sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias
						quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
					<p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum
						enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam
						exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="container">
			<header class="major">
				<h2>Fusce ultrices fringilla</h2>
				<p>Maecenas vitae tellus feugiat eleifend</p>
			</header>
			<div class="row 150%">
				<div class="6u 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="./static/assets/images/pic02.jpg" alt="" />
						<h3>Lorem ipsum dolor sit amet.</h3>
					</div>
				</div>
				<div class="6u$ 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="./static/assets/images/pic03.jpg" alt="" />
						<h3>Illum, maiores tempora cupid?</h3>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li><a href="#" class="button special big">Nulla luctus</a></li>
				<li><a href="#" class="button big">Sed vulputate</a></li>
			</ul>
		</div>
	</section>

	<!-- Three -->


	<!-- Four -->
	<section id="four" class="wrapper style3 special">
		<div class="container">
			<header class="major">
				<h2>Aenean elementum ligula</h2>
				<p>Feugiat sed lorem ipsum magna</p>
			</header>
			<ul class="actions">
				<li><a href="#" class="button special big">Get in touch</a></li>
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"></a></li>
				<li><a href="#" class="icon fa-twitter"></a></li>
				<li><a href="#" class="icon fa-instagram"></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; AutoRod</li>
				<li>Year: 2020</a></li>
				<li>Rights: All Rights Reserved</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="./static/jquery.min.js"></script>
	<script src="./static/skel.min.js"></script>
	<script src="./static/util.js"></script>
	<script src="./static/main.js"></script>

</body>

</html>