<!DOCTYPE HTML>
<html>

<head>
	<title>AutoRod</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="./static/main.css" />
</head>

<body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><strong><a href="index.html">Autorod</a></strong></h1>
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="new_signup_page.html">Sign Up</a></li>
				<li><a href="new_login.html">Sign In</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<h2>AutoRod</h2>
		<p>Automation has never been <br /> So Easy.</p>
		<ul class="actions">
			<li><a href="#" class="button special big">Get Started</a></li>
		</ul>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<div class="container 75%">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Automate</h2>
						<p>in Five Easy Steps</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<h3>1. Sign Up.</h3>
					<h3>2. Sign In</h3>
					<h3>3. Upload CSV</h3>
					<h3>4. Upload Template</h3>
					<h3>5. Automate!</h3>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="container">
			<header class="major">
				<h2>Ensure smooth automation by : - </h2>
			</header>
			<div class="row 150%">
				<div class="6u 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="./static/assets/images/email_reference.png" alt="" />
						<h3>CSV Content Format</h3>
					</div>
				</div>
				<div class="6u$ 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="./static/assets/images/email_template_reference.png" alt="" />
						<h3>Please ensure to type in "$name" while referencing the reciever's name.</h3>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li><a href="/new_signup_page.html" class="button special big">Start Automating</a></li>
			</ul>
		</div>
	</section>

	<!-- Three -->


	<!-- Four -->
	<section id="four" class="wrapper style3 special">
		<div class="container">
			<header class="major">
			</header>
			<ul class="actions">
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="copyright">
				<li>&copy; AutoRod</li>
				<li>Year: 2020</a></li>
				<li>Rights: All Rights Reserved</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="./static/jquery.min.js"></script>
	<script src="./static/skel.min.js"></script>
	<script src="./static/util.js"></script>
	<script src="./static/main.js"></script>

</body>

</html>